@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  background-color: white;
  z-index: 100;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30px;
}
nav i{
  font-size: 25px;
  cursor: pointer;
}
nav p{
  font-size: 20px;
}

.add-cart-bar{
  position: absolute;
  top: 0;
  right: 0;
  width: 385px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-cart-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-top: 1.55rem;
}
.cart-box img{
  width: 60px;
  height: auto;
  border: 1px solid black;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 10px;
}
.cart-quantity{
  width: 2rem;
  outline: black;
}
.trash-bin{
  color: red;
}
.bottom-line{
  width: 370px;
}
.total{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  gap: 1rem;
}
.close-btn{
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px; 
  margin-top: 10px;
  cursor: pointer;
}
.buy-now{
  margin-left: 150px;
  padding: 8px;
  border: none;
  background-color: orangered;
  color: white;
}
.buy-now:hover{
  border: 2px solid black;
}
/* section */
section{
  padding: 4rem 2rem 1rem 2rem;
}
.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-decoration:underline;
  margin-bottom: 1.5rem;
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-gap: 10px;
}
.products img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-box{
  border: .5px solid black;
  position: relative;
}
.product-box p{
  margin-left: 5px;
}
.product-cart-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 6px;
  cursor: pointer;
}